<h1>Dragon Maker - Turn <%= @current_game.turn %></h1>
<br>
<h2>Player: <%= @current_game.player_name %> - Score: <%= @current_game.score %></h2>
<br>
Dragons: <%= @dragons.count %> - Eggs: <%= @current_game.eggs %> - Villages: <%= @villages.count %>
<br><br><br><br>
<div class="grid">
    <div class="grid-item"><form action=<%="/dragons/new"%> method="get">
        <input type="submit" value="1">
    </form> Create a Dragon</div>
    <div class="grid-item"><form action=<%="/dragons"%> method="get">
        <input type="submit" value="2">
    </form> View Dragons</div>
    <div class="grid-item"><form action=<%="/villages"%> method="get">
        <input type="submit" value="3">
    </form> Check Human Population</div>
    <div class="grid-item"><form action=<%="/raids/new"%> method="get">
        <input type="submit" value="4">
    </form> Create a Raid</div>
    <div class="grid-item"><form action=<%="/game/pass"%> method="get">
        <input type="submit" value="5">
    </form> Pass</div>
    <div class="grid-item"><form action=<%="/game/instructions"%> method="get">
        <input type="submit" value="6">
    </form> Instructions</div>
</div>